asyncio
async-lru
aiohttp
async_pymongo
beautifulsoup4
dnspython
ffmpeg-python
gitpython
heroku3
httpx[http2]
git+https://github.com/gudmeong/pyrofork@staging
lyricsgenius
pillow
pykeyboard2
psutil
pytube
git+https://github.com/pytgcalls/pytgcalls@master
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
TgCrypto-pyrofork
urllib3
uvloop
flask
gunicorn
yt-dlp
py-yt-search